attrs==25.4.0
autocommand==2.2.2
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
cryptography==46.0.3
filelock==3.20.0
idna==3.10
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
lit==21.1.6.dev0
markdown-it-py==4.0.0
mdurl==0.1.2
more-itertools==10.8.0
nftables==0.1
packaging==25.0
platformdirs==4.5.1
pycparser==2.23
Pygments==2.19.2
requests==2.32.5
rich==14.2.0
setuptools==80.9.0
urllib3==2.5.0
wheel==0.45.1
